<h1>Edytuj wiadomość</h1>
<div id="epost">
<% form_for(@post) do |f| %>
  <%= f.error_messages %>

    <%= f.text_field :title %>
    <%= f.text_area :body %>
    <%= f.submit 'Update' %>
<% end %></div>

<%# <%= link_to 'Pokaż', @post, :class => "przycisk" %>
<%= link_to 'Wróć', posts_path, :class => "przycisk" %>
