<a href="http://ekorozwoj.heroku.com/posts"><div id="title_left"><img src="../images/logo.png" /></div>
  <div id="title_right"><h1>Sekcja KN Geologów AGH Ekorozwój</h1></div></a>
<%= render :partial => @post %>
<h2>Opinie, pytania, burza mózgów</h2>
<div id="comments">
  <%= render :partial => @post.comments %>
</div>

<div id="comm">
  <% remote_form_for [@post, Comment.new] do |f| %>
      <%= f.label :body, "Dodaj swoją opinię lub pytanie" %><br />
    <%= f.text_area :body %>
        <%= f.submit "Dodaję!" %>
  <% end %>
</div>
